
.mate{
    margin-top: 150px;
}

.materials_element{
    flex: 1;
    text-decoration: none;
    outline-color: transparent;
    text-align: center;
    line-height: 3;
    padding: 10px;
    border-radius: 10px;
}

.profile{
    flex: 1;
    text-decoration: none;
    outline-color: transparent;
    text-align: center;
    line-height: 3;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.users{
  flex: 1;
  text-decoration: none;
  outline-color: transparent;
  text-align: center;
  line-height: 3;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}

.ranking{
  flex: 1;
  text-decoration: none;
  outline-color: transparent;
  text-align: center;
  line-height: 3;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}

.tests{
  flex: 1;
  text-decoration: none;
  outline-color: transparent;
  text-align: center;
  line-height: 3;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}



.materials_element, .profile, .users, .ranking, .tests {
  align-items: center;
  background-color: rgba(30, 33, 75);
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 10px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 5px 15px;
  font-weight: bold;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  
}

.materials_element:after, .profile:after, .users:after, .ranking:after, .tests:after {
  background-color: #0d0b0b;
  border-radius: 8px;
  content: "";
  display: block;
  height: 23px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.materials_element:hover:after, .profile:hover:after, .users:hover:after, .ranking:hover:after, .tests:hover:after {
  transform: translate(0, 0);
}

.materials_element:active, .profile:active, .users:active, .ranking:active, 
.tests:active {
  background-color: #ffdeda;
  outline: 0;
}

.materials_element:hover, .profile:hover, .users:hover, .ranking:hover, .tests:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .materials_element, .profile, .users, .ranking, .tests  {
    padding: 5px 23px;
  }
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px; 
}

.feedback {
    background-color: rgb(30, 33, 75);
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    position: relative;
    overflow: hidden;
    width: 300px; 
    text-align: center; 
    margin: 10px; 
}

.feedback-container{
  display: flex;
  flex-wrap: wrap;
}


h4 {
    margin: 10px 0; 
    font-size: 1.2em; 
}

p {
    font-weight: bold; 
}

pre {
    font-style: italic; 
    color: gray; 
}

h1 {
    margin: 10px 0; 
    font-size: 1.2em; 
}

.explaining {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 10%;
    margin-top: 10%;
}

.developments {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.block-container {
    background-color: #4a4e7c;
    border-radius: 20px;
    color: white;
    padding: 20px;
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .block-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .block-icon {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .block-info h2 {
    margin: 0;
    font-size: 1.8rem;
  }
  
  .block-info p {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .block-icons {
    display: flex;
    gap: 10px;
    color: yellow;
  }
  
  .block-icons i {
    font-size: 1.5rem;
  }

  .descriptions{
    text-align: left;
  }

  .mini-cards{

    display: flex;
    gap:10px;
    justify-content: space-around;
  }

  .logo{
    width: 50px;
    height: 50px;
  }
  .ending{
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 20%;
  }